/* Reset */
*{
    margin:0;
    padding:0;
}

/* Corpo */
body{
    font-family: Arial, sans-serif;
    background-color:#1e293b;
    color:white;
    padding:20px;
}

/* Container */
.container{
    width:90%;
    margin:auto;
}

/* Títulos */
h1{
    text-align:center;
    margin-bottom:30px;
}

h2{
    margin-bottom:20px;
}

/* Seções */
.section{
    background-color:#334155;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
}

/* Formulário */
form{
    margin-bottom:20px;
}

label{
    display:block;
    margin-bottom:5px;
    font-weight:bold;
}

input,
select,
textarea{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

/* Botões */
button{
    background-color:#3b82f6;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background-color:#2563eb;
}

/* Tabela */
table{
    width:100%;
    border-collapse:collapse;
    background-color:white;
    color:black;
}

th{
    background-color:#3b82f6;
    color:white;
    padding:10px;
}

td{
    padding:10px;
    border:1px solid #ccc;
}

/* Links de ação */
.acoes a{
    text-decoration:none;
    color:white;
    background-color:red;
    padding:5px 10px;
    border-radius:5px;
}

/* Busca */
.busca-container{
    margin-bottom:20px;
}

.busca-container input{
    width:70%;
}

.busca-container button{
    width:25%;
}

.menu{
    text-align:center;
    margin-top:40px;
}

.menu a{
    display:inline-block;
    width:220px;
    padding:25px;
    margin:10px;

    background-color:#3b82f6;
    color:white;

    text-decoration:none;
    font-size:20px;
    font-weight:bold;

    border-radius:10px;
    border:1px solid #2563eb;
}

.menu a:hover{
    background-color:#2563eb;
}